# IntelliJ / Kotlin
*.iml
.idea/
out/
build/
.gradle/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos de credenciais
src/main/resources/serviceAccountKey.json

# Outros
*.log
*.class

# Se usar dotenv
.env
